* {
  box-sizing: border-box;
  position: relative;
  z-index: 0;
}

body {
  background: url(https://i.pinimg.com/originals/43/c9/65/43c9653e3a717d4a80a0551ebec6c978.png);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0
}

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(250, 250, 250);
  z-index: 200;
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 10vh;
}

.splash.display-none {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: -10;
  color: azure;
  text-align: center;
  line-height: 90vh;
  transition: all 0.5s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.grid {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(253, 2, 2);
  border-width: 0px;
  width: 800px;
  height: 800px;
  flex-wrap: wrap;
}

.grid div {
  width: 20%;
  height: 20%;
  /* border: 1px solid rgb(0, 0, 0); */
}

#score {
  margin-bottom: 30px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 35px;
  text-align: center;
  width: 100px;
  height: 50px;
  border: 5px solid orange;
  border-radius: 30px;
}

#lives {
  margin-bottom: 30px;
  background-color: black;
  align-items: flex-end;
  color: white;
  font-size: 17px;
  text-align: center;
  width: 100px;
  height: 30px;
  border: 5px solid rgb(255, 0, 0);
  border-radius: 30px;
}

body::before, body::after {
  display: inline-block;
  content: '';
  margin-top: 46px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  background: linear-gradient(45deg, #ff6600, #ff000085, #000000, #ff6600, #ff000085, #000000, #ff000085, #ff0000, #000000);
  background-size: 400%;
  width: 802px;
  height: 802px;
  z-index: -1;
  animation: animate 60s linear infinite;
}

body::after {
  filter: blur(50px);
}

  @keyframes animate {
    0%{
      background-position: 0 0;
    }
    50%{
      background-position: 400% 0;
    }
    100%{
      background-position: 0 0;
    }
  }

.food {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/84dc13b7-a2e7-4b45-83ec-311e72e82900/dcjzw04-c25a75ea-62b5-4b44-ae6f-e89da9f0c39c.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvODRkYzEzYjctYTJlNy00YjQ1LTgzZWMtMzExZTcyZTgyOTAwXC9kY2p6dzA0LWMyNWE3NWVhLTYyYjUtNGI0NC1hZTZmLWU4OWRhOWYwYzM5Yy5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.MD-nGxQIwmac35RYJlVMbBPhTOCCUkoLsocpc0ud2gw);
  background-size: cover;
  background-position: center;
}

.dragonballs {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Dragonball_%284-Star%29.svg/1200px-Dragonball_%284-Star%29.svg.png);
  background-size: cover;
  background-position: center;
}

.pacman {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5c7f5e56-99ba-4690-bb82-862ceaaaf25e/d4jrskn-fe727634-41a9-4fc7-97c5-c910a9bc8ffc.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNWM3ZjVlNTYtOTliYS00NjkwLWJiODItODYyY2VhYWFmMjVlXC9kNGpyc2tuLWZlNzI3NjM0LTQxYTktNGZjNy05N2M1LWM5MTBhOWJjOGZmYy5naWYifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.Ul9ZLMBf5SrhAm8O80Q3DYifCq5CCF22iRSGJ9bjoHg);
  background-size: cover;
  /* position: relative;
  transform: translate(0%, 0%);
  width: calc(408 / 8);
  height: 80px;
  background: url(goku_run.png);
  animation: move 1s steps(8) infinite; */
}

/* @keyframes move {
  from {
    background-position: 0;
  }
  to {
    background-position: -422px;
  }
} */

.clyde {
  background-image: url(https://lh3.googleusercontent.com/proxy/GyOL0uzIfoOPX3rKif970R4ZX_DZpwko_W5GFgf465Z4j1F74jdUvDamEfG54HD3ojyEBpfI2wE7RttBK24_CA6vT2DiCJhP);
  background-size: 90%;
}

.blinky {
  background-image: url(https://lh3.googleusercontent.com/proxy/VOnE3x1iRDAcWpmvJeCFGskZTfTnDQhgoOMC5k1wFOKlXLGHbXFZwSMx8vna46Y9urPUjaEmrNZdDbcUK6GyEZkWMbX838Gg);
  background-size: 95%;
}

.pinky {
  background-image: url(https://cdn2.iconfinder.com/data/icons/dragonball-z-flat/48/Cartoons__Anime_Dragonball_Artboard_14-512.png);
  background-size: cover;
}

.inky {
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c38e302a-fbf8-4f08-9ee3-5b7bade87dd5/dbz7x09-4c9a0152-d668-4232-a8a7-1249546e884a.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvYzM4ZTMwMmEtZmJmOC00ZjA4LTllZTMtNWI3YmFkZTg3ZGQ1XC9kYno3eDA5LTRjOWEwMTUyLWQ2NjgtNDIzMi1hOGE3LTEyNDk1NDZlODg0YS5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.Wbo29EwogtYjODIv87x7gGVAiWqglWKIdglR82fo7mg);
  background-size: 100%;
}

.path {
  background-color: rgba(83, 109, 117, 0.9);
}

.wall {
  background-color: rgba(255, 115, 0, 0.8);
}

#start-button {
  width: 100px;
  height: 50px;
  margin: 10px;
  background-color: rgb(231, 104, 0);
  border: 5px solid rgb(0, 0, 0);
  border-radius: 30px;
  font-family: Roboto;
  font-size: 30px;
  color: #813400;
}

#start-button:hover {
  width: 105px;
  background-color: rgb(0, 0, 0);
  color: #813400;
}

#reset-button {
  width: 100px;
  height: 25px;
  background-color: rgb(231, 104, 0);
  border: 3px solid black;
  border-radius: 30px;
  font-family: Roboto;
  font-size: 14px;
  color: #813400;
}

#reset-button:hover {
  width: 110x;
  background-color: rgb(0, 0, 0);
  color: #813400;
}